.crossword-grid {
  border: 1px solid black;
}

.crossword-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.crossword-square {
  flex: 1 1 100%;
  border: 1px solid black;
  position: relative;
}

.crossword-square.reference,
.crossword-clue.reference {
  background-color: #CCF;
}
.crossword-square.highlight,
.crossword-clue.active {
  background-color: #8CF;
}

.crossword-square.active {
  background-color: #1892ef;
}

.crossword-square.black {
  background: black;
}

.crossword-square .numeral {
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.square-bulk {
  height: 0;
  padding-top: 100%;
}

.square-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 16px;
}

input.phantom {
  height: 1px;
  width: 1px;
  border: none;
  background: none;
  font-size: 100px;
  color: transparent;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.crossword-clues {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 1em;
}

.crossword-clues-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-transform: uppercase;
}

.crossword-clues-header button {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}

.crossword-clue-change {
  width: 40px;
  height: 40px;
  position: relative;
}

.crossword-clue-change:after{
  content: "";
  height: 50%;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  transform-origin: 50% 50%;
}
.crossword-clue-change.next:after {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: translateX(-30%) rotate(-45deg);
  -ms-transform: translateX(-30%) rotate(-45deg);
  transform: translateX(-30%) rotate(-45deg);
}
.crossword-clue-change.prev:after {
  border-left: 2px solid black;
  border-top: 2px solid black;
  -webkit-transform: translateX(30%) rotate(-45deg);
  -ms-transform: translateX(30%) rotate(-45deg);
  transform: translateX(30%) rotate(-45deg);
}

.crossword-clues-wrapper {
  margin: 0 -1em;
}

.crossword-clues ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.crossword-clue {
  padding-left: 1.5em;
}

.crossword-clue .numeral {
  font-family: monospace;
  font-weight: bold;
  font-size: 1em;
  margin-left: -1.5em;
  width: 1.5em;
  float: left;
}
